<% provide(:title, "高知大学　森林科学領域") %>

<div class="mainvisual">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide swiper-slide-1">
				<%= image_tag "mainvisual-2.JPG", :alt => '景色1' %>
				<div class="mainvisual__content__1 mainvisual__content" id="a">
					<div class="mainvisual__title__1 mainvisual__title"><span class="text-bg">木材は再生可能資源</span></div><!-- /.mainvisual__title -->
					<div class="mainvisual__lead mainvisual__lead__1"><span class="text-bg">持続的な社会の構築に、木材は必要不可欠です</span></div>	<!-- /.mainvisual__lead -->
				</div><!-- /.mainvisual__content -->
			</div><!-- /.swiper-slide -->
			<div class="swiper-slide swiper-slide-2">
				<%= image_tag "mainvisual-1.JPG", :alt => '景色2' %>
				<div class="mainvisual__content__2 mainvisual__content">
					<div class="mainvisual__title__2 mainvisual__title"><span class="text-bg">森林は生物の宝庫</span></div><!-- /.mainvisual__title -->
					<div class="mainvisual__lead mainvisual__lead__2"><span class="text-bg">森林は生態系の保全に重要な役割を担っています</span></div>	<!-- /.mainvisual__lead -->
				</div><!-- /.mainvisual__content -->
			</div><!-- /.swiper-slide -->
			<div class="swiper-slide swiper-slide-3">
				<%= image_tag "mainvisual-3.JPG", :alt => '景色3' %>
				<div class="mainvisual__content__3 mainvisual__content">
					<div class="mainvisual__title__3 mainvisual__title"><span class="text-bg">森林の多面的機能</span></div><!-- /.mainvisual__title -->
					<div class="mainvisual__lead mainvisual__lead__3"><span class="text-bg">CO2の吸収、空気の浄化など森林には様々な機能があります
					</span></div>	<!-- /.mainvisual__lead -->
				</div><!-- /.mainvisual__content -->
			</div><!-- /.swiper-slide -->
		</div><!-- /.swiper-wrapper -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-pagination"></div>
	</div><!-- /.swiper-container -->
</div><!-- /.mainvisual -->

<section id="" class="meaning section">
	<div class="meaning__inner inner">
		<h2 class="section-title">森林を学ぶ価値</h2><!-- /.section-title -->
		<div class="meaning__items">
			<div class="meaning__item ">
				<div class="meaning__img">
					<%= image_tag "meaning-1.png", :alt => '1' %>
				</div><!-- /.meaning__img -->
				<div class="meaning__body">
					<div class="meaning__title">木材は再生可能資源</div><!-- /.meaning__title -->
					<div class="meaning__content">近年、木のストローの導入やレジ袋の有料化など、プラスチック製品を廃止する動きが強まっています。さらに、プラスチックの原料となる石油は将来的には枯渇してしまう化石資源です。<br><br><span class="text__important">持続的な経済発展をしていくためにも、木材のような再生可能資源の積極的な利用の推進、及び研究</span>が必要不可欠です。</div><!-- /.meaning__content -->
				</div><!-- /.meaning__body -->
			</div><!-- /.meaning__item -->
			<div class="meaning__item ">
				<div class="meaning__img">	
					<%= image_tag "meaning-2.png", :alt => '2' %>
				</div><!-- /.meaning__img -->
				<div class="meaning__body">
					<div class="meaning__title">森林は生物の宝庫</div><!-- /.meaning__title -->
					<div class="meaning__content">世界の陸地面積の約３割を占める森林に、<span class="text__important">陸上の生物種の約８割がその生息・生育を依存</span>しています。<br><br>しかし、1990～2015年までの過去25年間において森林面積は、1.29億haも減少しました。<span class="text__important"> 豊かな生態系を守っていくためにも、持続的な森林利用を考えていく必要</span>があります。
					</div><!-- /.meaning__content -->
				</div><!-- /.meaning__body -->
			</div><!-- /.meaning__item -->		
			<div class="meaning__item ">
				<div class="meaning__img">
						<%= image_tag "meaning-3.png", :alt => '3' %>
				</div><!-- /.meaning__img -->
				<div class="meaning__body">
					<div class="meaning__title">環境資源としての価値は年間70兆円</div><!-- /.meaning__title -->
					<div class="meaning__content">森林は降った雨を蓄え、浄化をしながら少しずつ川に流します。そして、水と一緒に、たくさんの栄養が、川や海、そして農地に流れます。
					<br><br>それにより、<span class="text__important">魚はもちろん豊かな農作物の生産にも繋がります。</span>それ以外にも、森林にはレクリエーションの役割から、キノコや木材の生産など多様な機能があります。そして、<span class="text__important">これらの機能を経済的価値に換算すると、年間70兆円にもなると言われています。</span>
					<br><br>つまり、豊かな森林を守ることは、私達の豊かな生活を守ることにもつながるのです。
					</div><!-- /.meaning__content -->
				</div><!-- /.meaning__body -->
			</div><!-- /.meaning__item -->	
		</div><!-- /.meaning__items -->
		<div class="meaning__reference">
			<div class="meaning__reference__title">参考文献(閲覧日:2020/09/06)</div>
			<div class="meaning__content"><a href="https://www.rinya.maff.go.jp/j/kaigai/attach/pdf/index-2.pdf">森林は生物の宝庫:世界森林資源評価（FRA）２０１５-世界の森林はどのように変化しているか-</a>
			</div><!-- /.meaning__reference -->
			<div class="meaning__content"><a href="https://www.maff.go.jp/j/kanbo/kankyo/seisaku/s_senryaku/seibutu_tayo/14/pdf/siryo1-2.pdf">環境資源としての価値は年間70兆円:森林における生物多様性の保全及び 持続可能な利用の推進方策・平成２１年７月 森林における生物多様性保全の推進方策検討会</a>
			</div><!-- /.meaning__reference -->
		</div>
	</div><!-- /.meaning__inner -->
</section><!-- /.meaning -->

<% if @about.present? %>
<section class="course content section wow fadeInUp">
	<div class="course__inner content__inner inner">
		<h2 class="section-title">森林科学領域</h2>
		<div class="course__items content__items">
			<div class="course__item content__item">
				<div class="content__item__body">
					<%= @about[0].content %>
				</div><!-- /.content__item__body -->
			</div><!-- /.course__item -->
			<div class="course__item content__item">
				<div class="course__video content__video">
					<h3 class="video__title">森林科学領域の紹介動画</h3>
					<div class="video__img" id="btn_modal_1" href="">
						<a class="alumni__media posts__alumni__media" href="<%= @about[0].video_url %>">
							<%= image_tag  @about[0].images.first.variant(resize:'1200x800').processed %>
						</a><!-- /.alumni__media -->	
					</div><!-- /.video__img -->
				</div><!-- /.course__video -->
			</div><!-- /.course__item -->
		</div><!-- /.course__items -->
	</div><!-- /.course__inner -->
</section><!-- /.course -->
<% end %>

<section id="" class="teacher section  wow fadeInUp">
	<div class="teacher__inner inner">
		<h2 class="section-title">先生の紹介</h2><!-- /.section-title -->
		<div class="teacher__items">
			<div class="teacher__item teacher__item__1">
				<div class="teacher__media teacher__media__1" >
					<div class="teacher__media__img"><%= image_tag "Ichie-teacher.jpg", :alt => '市栄 智明' %></div><!-- /.teacher__media -->
					<div class="teacher__media__body">
						<div class="teacher__media__title">市栄 智明</div><!-- /.teacher__media__title -->
						<div class="teacher__media__job">教授</div><!--./teacher__media__job-->
						<div class="teacher__media__content">森林を構成する多様な樹木は、それぞれ様々な個性を持ち、厳しい自然界の競争に打ち勝って今日存在しています。</br>私の研究室では、日本や東南アジアの森林に生育する樹木の個性を森林生態学や生理生態学の観点からひも解き、それを森林の保全や生態系修復・再生に活かす研究に取り組んでいます。</div><!-- /.teacher__media__content -->
					</div><!-- teacher__/.media__body -->
				</div><!-- /.teacher__media -->
			</div><!-- /.teacher__item -->
			<div class="teacher__item  teacher__item__2">
				<a class="teacher__media" href="http://www.cc.kochi-u.ac.jp/~ysuzuki/">
					<div class="teacher__media__img"><%= image_tag "suzuki-teacher.jpg", :alt => '鈴木 保志' %></div><!-- /.teacher__media__img -->
					<div class="teacher__media__body">
						<div class="teacher__media__title">鈴木 保志</div><!-- /.teacher__media__title -->
						<div class="teacher__media__job">教授</div><!--./teacher__media__job-->
						<div class="teacher__media__content">森林や山の自然に素朴に憧れて森林科学を学ぼうと大学に進学し、山と共に生きる林業技術者のすばらしさに触れ、林業工学（森林利用学）を専門としています。</br>高知には全国一の先進的林業技術と活気ある現場が多数あり、見学や実習でこれからの森林・林業を学ぶには最適の場所です。<br><span class="see-details">研究室HP<i class="fas fa-arrow-right"></i></span></div><!-- /.teacher__media__content -->
					</div><!-- teacher__/.media__body -->
				</a><!-- /.teacher__media -->
			</div><!-- /.teacher__item -->
			<div class="teacher__item  teacher__item__3">
				<a class="teacher__media" href="http://www.cc.kochi-u.ac.jp/~ichiura/woodchem/ichiura/ichiurahome.html">
					<div class="teacher__media__img"><%= image_tag "iciura-teacher.jpg", :alt => '市浦 英明' %></div><!-- /.teacher__media__img -->
					<div class="teacher__media__body">
						<div class="teacher__media__title">市浦 英明</div><!-- /.teacher__media__title -->
						<div class="teacher__media__job">准教授</div><!--./teacher__media__job-->
						<div class="teacher__media__content">木材は、マテリアルとしての機能およびエネルギーとしての機能を提供しています。その中で、紙パルプ分野の中心材料であるセルロースの研究を行っています。<br>具体的には、紙の機能化、紙おむつのリサイクル、さらにはプラスチック代替材料の研究による社会貢献を目指ています。<br><span class="see-details">研究室HP<i class="fas fa-arrow-right"></i></span></div><!-- /.teacher__media__content -->
					</div><!-- teacher__/.media__body -->
				</a><!-- /.teacher__media -->
			</div><!-- /.teacher__item -->
			<div class="teacher__item  teacher__item__4">
				<a class="teacher__media teacher__media__4" href="http://www.cc.kochi-u.ac.jp/~matsumoto-mika/">
					<div class="teacher__media__img"><%= image_tag "matumoto-teacher.png", :alt => '松本 美香' %></div><!-- /.teacher__media__img -->
					<div class="teacher__media__body">
						<div class="teacher__media__title">松本 美香</div><!-- /.teacher__media__title -->
						<div class="teacher__media__job">講師</div><!--./teacher__media__job-->
						<div class="teacher__media__content">持続可能な社会への転換が急務な今、木質資源は再生産可能な資源
						として注目を浴びています。<br>この木質資源を社会が活用していくためには、森林からの安定的な木材供給の仕組みづくり、育林・伐採・加工・流通を支える社会づくりが必要になります。私は、林業・林産業を題材にしつつ、社会構造や産業構造の分析、各種政策の影響評価等を行い、森林と人とのより良い関係づくりに取り組んでいます。</br><span class="see-details">研究室HP<i class="fas fa-arrow-right"></i></span></div><!-- /.teacher__media__content -->
					</div><!-- teacher__/.media__body -->
				</a><!-- /.teacher__media -->
			</div><!-- /.teacher__item -->
			<div class="teacher__item  teacher__item__5">
				<a class="teacher__media teacher__media__5" href="https://kfplab.wordpress.com/home/">
					<div class="teacher__media__img"><%= image_tag "moriguti-teacher.png", :alt => '守口 海' %></div><!-- /.teacher__media__img -->
					<div class="teacher__media__body">
						<div class="teacher__media__title">守口 海</div><!-- /.teacher__media__title -->
						<div class="teacher__media__job">講師</div><!--./teacher__media__job-->
						<div class="teacher__media__content">森林を持続的に管理・利用していくために、どのようなスケジュールで間伐などの森林の手入れをするかといった問題を主に扱っています。</br>また、森林の管理を行っていくために必要な情報の収集方法や長期的な計画の立て方といった、森林の持続的利用に関連するさまざまな課題を併せて扱っています。<br><span class="see-details">研究室HP<i class="fas fa-arrow-right"></i></span></div><!-- /.teacher__media__content -->
					</div><!-- teacher__/.media__body -->
				</a><!-- /.teacher__media -->
			</div><!-- /.teacher__item -->
	</div><!-- /.teacher__items -->
</div><!-- /.teacher__inner --> 
<%= link_to "動画で詳しく見る", "http://www.kochi-u.ac.jp/agrimar-skg/movie/teachers.mp4", class:"button-home" %>
</section><!-- /.teacher -->

<% if @lessons.present? %>
<section class="lesson content section wow fadeInUp">
	<div class="lesson__inner content__inner inner">
		<h2 class="lesson-title section-title">授業の紹介</h2>
		<div class="lesson__items content__items">
			<div class="lesson__item content__item">
				<div class="lesson__video content__video">
					<h3 class="video__title">授業の紹介動画</h3>
					<div class="video__img">
						<a class="alumni__media posts__alumni__media" href="<%= @lessons[0].video_url %>">
							<%= image_tag  @lessons[0].images.first.variant(resize:'800').processed %>
						</a><!-- /.alumni__media -->		
					</div><!-- ./video__img-->
				</div><!-- ./lesson__video -->
			</div><!-- ./lesson__item -->
			<div class="lesson__item content__item">
				<div class="content__item__body">
					<%= @lessons[0].content %>
				</div><!-- ./content__item__body -->
			</div><!-- ./lesson__item -->
		</div><!-- ./lesson__items -->
	</div><!-- ./lesson__inner -->
</section><!-- ./lesson-->
<% end %>

<section id="alumni" class="alumni section wow fadeInUp">
	<div class="alumni__inner inner">
		<h2 class="section-title">卒業生の声</h2><!-- /.section-title -->
		<div class="alumni__items">
		<% @alumnus.each do |alumni| %>
            <div class="alumni__item posts__alumni__item">
				<a class="alumni__media posts__alumni__media" href="/posts/<%= alumni.id %>/">
					<%= render 'layouts/alumni-table', object: alumni %>	
				</a><!-- /.alumni__media -->
        	</div><!-- /.alumni__item -->
		<% end %>
		</div><!-- /.alumni__items -->
	</div><!-- /.alumni__inner -->
	<%= link_to "他の卒業生も見る", alumni_path, class:"button-home" %>
</section><!-- /.alumni -->

<section id="" class="skill section wow fadeInUp">
	<div class="skill__top__inner inner">
		<h2 class="section-title">資格</h2>
		<div class="skill__top__container">
			<div class="skill__top__text">高知大学森林領域では5つの資格を取得できます</div>
			<div class="skill__top__items">
				<div class="skill__top__item">
					<%= image_tag "skill-1.png", :alt => '測量士のアイコン' %>
					<p>測量士補</p>
				</div>
				<div class="skill__top__item">
					<%= image_tag "skill-2.png", :alt => '樹木医のアイコン' %>
					<p>樹木医補</p>
				</div>
				<div class="skill__top__item">
						<%= image_tag "skill-3.png", :alt => '森林情報士のアイコン' %>
					<p>森林情報士二級</p>
				</div>
				<div class="skill__top__item">
						<%= image_tag "skill-4.png", :alt => '教員免許のアイコン' %>
					<p>教員免許</p>
				</div>
				<div class="skill__top__item">
						<%= image_tag "skill-5.png", :alt => '学芸員のアイコン' %>
					<p>学芸員</p>
				</div><!-- ./skill__top__item -->
			</div><!--./skill__top__items -->
		</div><!--./skill__top__inner -->
	</div><!--./skill__top__container -->

	<div class="skill__bottom__inner inner">
		<dl class="skill__bottom__items">
			<div class="skill__bottom__content accordion">
				<dt class="accordion__head"><%= image_tag "skill-1.png", :alt => '測量士のアイコン' %>測量士補<span class="accordion__icon accordion__icon__first"></span></dt>
				<dd class="accordion__body accordion__body__first">
					<div class="accordion__body-in">技術者として「基本測量（すべての測量の基礎となる測量）」、「公共測量（国又は地方公共団体の実施する測量）」に従事するために必要な国家資格です。 測量士は、「測量に関する計画を作製し、又は実施する者」、 測量士補は、「測量士の作製した計画に従い、測量に従事する者」を指します。測量士補の資格取得後、1年以上の実務経験により測量士に昇格が可能です。
					</div><!-- /.accordion__body-in -->
					<div class="accordion__body__link">
						<p>より詳しい情報は下記リンクをご覧ください。</p>
						<a href="https://www.gsi.go.jp/LAW/SHIKEN-sikentoroku.html">測量士及び測量士補登録に関する案内 | 国土地理院</a>
						<a href="http://www.jsurvey.jp/shikaku.htm">公益社団法人日本測量協会 測量士・測量士補の資格のページ</a>
					</div><!-- /.accordion__body__link -->
				</dd><!-- /.accordion__body -->
			</div><!-- /.skill__bottom__content -->
			<div class="skill__bottom__content accordion">
				<dt class="accordion__head"><%= image_tag "skill-2.png", :alt => '樹木医のアイコン' %>樹木医補<span class="accordion__icon"></span></dt>
				<dd class="accordion__body">
					<div class="accordion__body-in">樹木医とは、樹木の診断・治療、後継樹の保護育成、樹木保護などに関する知識の普及や指導を行う専門家のこと。 樹木医補は、樹木医を目指して樹木学や植物病理学、森林生態学などの基礎的な知識や技術を習得した学生を対象に認定を行ってます。高知大学は樹木医補資格養成機関として認定を受けています。全国で35ある認定大学のうち、四国では高知大学と愛媛大学が対象となっています。（令和2年4月現在）。
					</div><!-- /.accordion__body-in -->
					<div class="accordion__body__link">
						<p>より詳しい情報は下記リンクをご覧ください。</p>
						<a href="http://www.jpgreen.or.jp/jyumokuiho/">樹木医補資格認定制度／（一財）日本緑化センター</a>
					</div><!-- /.accordion__body__link -->
				</dd><!-- /.accordion__body -->
			</div><!-- /.skill__bottom__content -->
			<div class="skill__bottom__content accordion">
				<dt class="accordion__head"><%= image_tag "skill-3.png", :alt => '森林情報士のアイコン' %>森林情報士二級<span class="accordion__icon"></span></dt>
				<dd class="accordion__body">
					<div class="accordion__body-in">森林情報士とは、空中写真やリモートセンシングからの情報の解析技術、GIS技術等をもちいて森林計画、治山、林道事業、さらには地球温暖化問題の解析などの事業分野に的確に対応できる専門技術者です。 2級は、森林系の大学専門課程修得１年以上、学士、修士、博士など森林・林業に関する資格を有する者を対象としています。高知大学は森林情報士2級養成機関として認定を受けています。全国で7つある認定大学のうち、四国では高知大学のみとなっています（令和2年4月現在）。
					</div><!-- /.accordion__body-in -->
					<div class="accordion__body__link">
						<p>より詳しい情報は下記リンクをご覧ください。</p>
						<a href=" http://www.jafta.or.jp/contents/jouhoushi/5_list_detail.html">一般社団法人日本森林技術協会 Japan Forest Technology Association 森林情報士 大学単位認定制度</a>
					</div><!-- /.accordion__body__link -->
				</dd><!-- /.accordion__body -->
			</div><!-- /.skill__bottom__content -->
			<div class="skill__bottom__content accordion">
				<dt class="accordion__head"><%= image_tag "skill-4.png", :alt => '教員免許のアイコン' %>教員免許<span class="accordion__icon"></span></dt>
				<dd class="accordion__body">
					<div class="accordion__body-in">教員になるための資格です。学校種ごとの教員免許状が必要で、中学校・高等学校は教科ごとの免許状になります。
						取得要件の違いにより、専修免許状、一種免許状、二種免許状と区分されますが、職務上の差異はありません。
					</div><!-- /.accordion__body-in -->
				</dd><!-- /.accordion__body -->
			</div><!-- /.skill__bottom__content -->
			<div class="skill__bottom__content accordion">
				<dt class="accordion__head"><%= image_tag "skill-5.png", :alt => '学芸員のアイコン' %>学芸員<span class="accordion__icon"></span></dt>
				<dd class="accordion__body">
					<div class="accordion__body-in">学芸員とは、博物館（美術館、歴史民俗資料館、国際交流館、産業資料館、農林業資料館、文書館、文学館、水族館、動・植物園、地質館、各種記念館等）において、資料収集、展示、保存、調査研究、生涯教育、社会教育活動等の専門的活動に携わる職員の総称になります。</div><!-- /.accordion__body-in -->
				</dd><!-- /.accordion__body -->
			</div><!-- /.skill__bottom__content -->
		</dl><!-- /.skill__bottom__items -->
	</div><!-- /.skill__bottom_items -->
</section><!-- /.skill -->








