<% provide(:title, "メインページ") %>

<div class="mainvisual">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide swiper-slide-1">
				<%= image_tag "mainvisual-2.JPG", :alt => '景色1' %>
				<div class="mainvisual__content__1 mainvisual__content" id="a">
					<div class="mainvisual__title__1 mainvisual__title"><span class="text-bg">木材は再生可能資源</span></div><!-- /.mainvisual__title -->
					<div class="mainvisual__lead mainvisual__lead__1"><span class="text-bg">持続的な社会の構築に、木材は必要不可欠です</span></div>	<!-- /.mainvisual__lead -->
				</div><!-- /.mainvisual__content -->
			</div><!-- /.swiper-slide -->
			<div class="swiper-slide swiper-slide-2">
				<%= image_tag "mainvisual-1.JPG", :alt => '景色2' %>
				<div class="mainvisual__content__2 mainvisual__content">
					<div class="mainvisual__title__2 mainvisual__title"><span class="text-bg">森林は生物の宝庫</span></div><!-- /.mainvisual__title -->
					<div class="mainvisual__lead mainvisual__lead__2"><span class="text-bg">森林は生態系の保全に重要な役割を担っています</span></div>	<!-- /.mainvisual__lead -->
				</div><!-- /.mainvisual__content -->
			</div><!-- /.swiper-slide -->
			<div class="swiper-slide swiper-slide-3">
				<%= image_tag "mainvisual-3.JPG", :alt => '景色3' %>
				<div class="mainvisual__content__3 mainvisual__content">
					<div class="mainvisual__title__3 mainvisual__title"><span class="text-bg">森林の多面的機能</span></div><!-- /.mainvisual__title -->
					<div class="mainvisual__lead mainvisual__lead__3"><span class="text-bg">CO2の吸収、空気の浄化など森林には様々な機能があります
					</span></div>	<!-- /.mainvisual__lead -->
				</div><!-- /.mainvisual__content -->
			</div><!-- /.swiper-slide -->
		</div><!-- /.swiper-wrapper -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-pagination"></div>
	</div><!-- /.swiper-container -->
</div><!-- /.mainvisual -->

<% if @meanings.present? %>
<section id="" class="meaning section">
	<div class="meaning__inner inner">
		<h2 class="section-title">森林を学ぶ価値</h2><!-- /.section-title -->
		<div class="meaning__items">
		<% @meanings.each do |meaning| %>
			<div class="meaning__item ">
				<div class="meaning__img">
					<%= image_tag  meaning.images.first.variant(resize:'1200x800').processed %>
				</div><!-- /.meaning__img -->
				<div class="meaning__body">
					<div class="meaning__title"><%= meaning.title %></div><!-- /.meaning__title -->
					<div class="meaning__content"><%= meaning.content %></div><!-- /.meaning__content -->
				</div><!-- /.meaning__body -->
			</div><!-- /.meaning__item -->
		<% end %>	
		</div><!-- /.meaning__items -->
		<div class="meaning__reference">
		<% if @external_urls.present? %>
			<div class="meaning__reference__title">参考文献</div>
			<% @meanings.each do |meaning| %>
			<div class="meaning__content"><a href="<%= meaning.external_url  %>"><%= meaning.title %>:<%= meaning.url_references %></a>閲覧日(<%= meaning.updated_at.strftime('%Y/%m/%d') || meaasage.created_at.strftime('%Y/%m/%d') %>)</div><!-- /.meaning__reference -->
	     	<% end %>
			 </div><!-- /.meaning__reference -->
		<% end %>	 	
		</div>
	</div><!-- /.meaning__inner -->
</section><!-- /.meaning -->
<% end %>

<% if @about.present? %>
<section class="course content section wow fadeInUp">
	<div class="course__inner content__inner inner">
		<h2 class="section-title">森林科学領域</h2>
		<div class="course__items content__items">
			<div class="course__item content__item">
				<div class="content__item__body">
					<%= @about[0].content %>
				</div><!-- /.content__item__body -->
			</div><!-- /.course__item -->
			<div class="course__item content__item">
				<div class="course__video content__video">
					<h3 class="video__title">森林科学領域の紹介動画</h3>
					<div class="video__img" id="btn_modal_1" href="">
						<a class="alumni__media posts__alumni__media" href="<%= @about[0].video_url %>">
							<%= image_tag  @about[0].images.first.variant(resize:'1200x800').processed %>
						</a><!-- /.alumni__media -->	
					</div><!-- /.video__img -->
				</div><!-- /.course__video -->
			</div><!-- /.course__item -->
		</div><!-- /.course__items -->
	</div><!-- /.course__inner -->
</section><!-- /.course -->
<% end %>

<% if @teacher.present? %>
<section id="" class="teacher section  wow fadeInUp">
	<div class="teacher__inner inner">
		<h2 class="section-title">先生の紹介</h2><!-- /.section-title -->
		<div class="teacher__items">
		<% @teacher.each do |teacher| %>
		<% if teacher.teacher_url.present? %>
			<a class="teacher__item teacher__item__link" href="<%= teacher.teacher_url%>">
				<%= render 'layouts/teacher-media', object:teacher %>
				<span class="see-details">研究室HP<i class="fas fa-arrow-right"></i></span>
			</a><!-- /.teacher__item -->
		<% else %>	
			<div class="teacher__item teacher__item__no_link">
				<%= render 'layouts/teacher-media', object:teacher %>
			</div><!-- /.teacher__item -->
			<% end %>
		<% end %>	
	</div><!-- /.teacher__items -->
</div><!-- /.teacher__inner --> 
<% if @teacher_video.present? %>
<%= link_to "動画で詳しく見る", @teacher_video.last.video_url, class:"button-home" %>
<% end %>
</section><!-- /.teacher -->
<% end %>

<% if @lessons.present? %>
<section class="lesson content section wow fadeInUp">
	<div class="lesson__inner content__inner inner">
		<h2 class="lesson-title section-title">授業の紹介</h2>
		<div class="lesson__items content__items">
			<div class="lesson__item content__item">
				<div class="lesson__video content__video">
					<h3 class="video__title">授業の紹介動画</h3>
					<div class="video__img">
						<a class="alumni__media posts__alumni__media" href="<%= @lessons[0].video_url %>">
							<%= image_tag  @lessons[0].images.first.variant(resize:'800').processed %>
						</a><!-- /.alumni__media -->		
					</div><!-- ./video__img-->
				</div><!-- ./lesson__video -->
			</div><!-- ./lesson__item -->
			<div class="lesson__item content__item">
				<div class="content__item__body">
					<%= @lessons[0].content %>
				</div><!-- ./content__item__body -->
			</div><!-- ./lesson__item -->
		</div><!-- ./lesson__items -->
	</div><!-- ./lesson__inner -->
</section><!-- ./lesson-->
<% end %>

<% if @alumnus.present? %>
<section id="alumni" class="alumni section wow fadeInUp">
	<div class="alumni__inner inner">
		<h2 class="section-title">卒業生の声</h2><!-- /.section-title -->
		<div class="alumni__items">
		<% @alumnus.each do |alumni| %>
            <div class="alumni__item posts__alumni__item">
				<a class="alumni__media posts__alumni__media" href="/posts/<%= alumni.id %>/">
					<%= render 'layouts/alumni-table', object: alumni %>	
				</a><!-- /.alumni__media -->
        	</div><!-- /.alumni__item -->
		<% end %>
		</div><!-- /.alumni__items -->
	</div><!-- /.alumni__inner -->
	<%= link_to "他の卒業生も見る", alumni_path, class:"button-home" %>
</section><!-- /.alumni -->
<% end %>

<% if @skills.present? %>
<section id="" class="skill section wow fadeInUp">
	<div class="skill__top__inner inner">
		<h2 class="section-title">資格</h2>
		<div class="skill__top__container">
			<div class="skill__top__text">高知大学森林領域では<%= @skills.count %>つの資格を取得できます</div>
			<div class="skill__top__items">
			<% @skills.each do |skill| %>
				<div class="skill__top__item">
					 <%= image_tag skill.images.first.variant(gravity: :center, resize:'800x600').processed %>
					<p>測量士補</p>
				</div>
			<% end %>	
			</div><!--./skill__top__items -->
		</div><!--./skill__top__inner -->
	</div><!--./skill__top__container -->

	<div class="skill__bottom__inner inner">
		<dl class="skill__bottom__items">
			<% @skills.each do |skill| %>
			<div class="skill__bottom__content accordion">
				<dt class="accordion__head"><%= image_tag skill.images.first.variant(gravity: :center, resize:'800x600').processed %><%= skill.name %><span class="accordion__icon accordion__icon__first"></span></dt>
				<dd class="accordion__body accordion__body__first">
					<div class="accordion__body-in">
						<%= skill.content %>
					</div><!-- /.accordion__body-in -->
					<div class="accordion__body__link">
						<p>より詳しい情報は下記リンクをご覧ください。</p>
						<% if skill.external_url.present? %>
						<a href="<%= skill.external_url %>"><%= skill.url_references %></a>
						<% end %>
					</div><!-- /.accordion__body__link -->
				</dd><!-- /.accordion__body -->
			</div><!-- /.skill__bottom__content -->
			<% end %>
		</dl><!-- /.skill__bottom__items -->
	</div><!-- /.skill__bottom_items -->
</section><!-- /.skill -->
<% end %>