<div class="post__control">
    <dt><%= object.label :content, "コンテンツ", class: "contact__label--required" %></dt>
    <dd><%= object.text_area :content, class: "form-textarea " %></dd>
</div>
<div class="post__control">
    <dt><%= object.label :images, class: "contact__label--required" %></dt>
    <dd><%= object.file_field :images, accept: "image/jpeg,image/gif,image/png", multiple: true %></dd>
</div>
<%= object.fields_for :url do |t| %>
    <%= render "url_fields", f: t %>   
<% end %>