<%= object.fields_for :skill do |s| %>
<div class="post__control">
    <dt><%= s.label :name, "資格の名前", class: "contact__label--required" %></dt>
    <dd><%= s.text_area :name, class: "form-input" %></dd>
</div>
<% end %>
<div class="post__control">
    <dt><%= object.label :content, "コンテンツ", class: "contact__label--required" %></dt>
    <dd><%= object.text_area :content, class: "form-textarea " %></dd>
</div>
    <div class="post__control">
    <dt><%= object.label :images, class: "contact__label--required" %></dt>
    <dd><%= object.file_field :images, accept: "image/jpeg,image/gif,image/png", multiple: true %></dd>
</div>
<%= object.fields_for :url do |t| %>
    <%= render "url_fields", f: t %>   
<% end %>
<div class="cocoon__links">
    <%= link_to_add_association '参考文献を追加', object, :url,force_non_association_create: true  %>
</div>