
 <div class="post__control">
    <dt><%= object.label :title, "タイトル", class: "contact__label--required" %></dt>
    <dd><%= object.text_field :title, class: "form-input" %></dd>
</div>
<div class="post__control">
    <dt><%= object.label :lead, "リード文", class: "contact__label--required" %></dt>
    <dd><%= object.text_area :lead, class: "form-input" %></dd>
</div> 
<div class="post__control">
    <dt><%= object.label :images, class: "contact__label--required" %></dt>
    <dd><%= object.file_field :images, accept: "image/jpeg,image/gif,image/png", multiple: true %></dd>
</div>