<%= object.fields_for :teacher do |t| %>
<div class="post__control">
    <dt><%= t.label :name, "名前", class: "contact__label--required" %></dt>
    <dd><%= t.text_area :name, class: "form-input" %></dd>
</div>
<div class="post__control">
    <dt><%= t.label :job, "職業", class: "contact__label--required" %></dt>
    <dd><%= t.text_field :job, class: "form-input" %></dd>
</div>
<% end %> 
<div class="post__control cher_url">
    <dt><%= object.label :teacher_url , "先生HPのURL" %></dt>
    <dd><%= object.text_field :teacher_url , class: "form-input" %></dd>
</div>
<div class="post__control">
    <dt><%= object.label :content, "コンテンツ", class: "contact__label--required" %></dt>
    <dd><%= object.text_area :content, class: "form-textarea " %></dd>
</div>
<div class="post__control">
    <dt><%= object.label :images, class: "contact__label--required" %></dt>
    <dd><%= object.file_field :images, accept: "image/jpeg,image/gif,image/png", multiple: true %></dd>
</div>