<tr>
<td class="table-titles" data-label="">        
        <%= gravatar_for user, size: 50 %>
    <div>
        <%= link_to user.name, user_path(user) %>
    <nav class="table-nav">
        <ul>
            <% if current_user.admin? || current_user?(user)%>
            <li><%= link_to "編集", edit_user_path(user) %></li>
            <% end %>
            <% if current_user.admin? && !current_user?(user) %>
            <li><%= link_to "削除", user, :method => :delete,
                                  data: { confirm: "You sure?" } %></li>
            <% end %>
        </ul>
    </nav>
    </div>
</td>
<td data-label="メール"><%= user.email %></td>
<td data-label="作成日"><%= user.created_at.strftime('%Y/%m/%d') %></td>
<td data-label="投稿数"><%= user.posts.count %></td>
</tr>