<section id="" class="login section">
  <div class="poat__inner inner">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <div class="head">
      <h1 class="section-title">管理者設定</h1><!-- /.section-title -->
      <div class="button posts_button">
        <%= link_to "Sign up now!", signup_path %>
      </div>
      <div class="pagination">
        <%= paginate @users,window: 2 %>
      </div><!-- ./pagination -->
    </div>
    <table class="post__table">
      <tr class="post__thead__pc">
        <th>管理者名</th>
        <th>作成者</th>
        <th>作成日</th>
      </tr>
      <tr class="post__thead__tab hidden-pc">
        <th>管理者名</td>
      </tr>
      <%= render @users %>
    </table>
    <div class="pagination">
       <%= paginate @users,window: 2 %>
    </div><!-- ./pagination -->
    

 

        
          <%
=begin%>
 <!-- <% @posts.each do |post| %> -->
            <!-- <tr>
                <th><%= post.id %></th>
                <td><%= post.title %></td>
                <td><%= post.name %></td>
                <td><%= post.created_at.to_s(:datetime_base) %></td>
                <td><%= post.updated_at.to_s(:datetime_base) %></td>
                <td><%= link_to "詳細" , post, class: 'btn btn-outline-info' %></td>
                <td><%= link_to "" , post, class: 'btn btn-outline-info', method: :delete, data: {confirm: "投稿記事を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"} %></td>
            </tr>
          <% end %> --> 
<%
=end%>
  
  </div><!-- /.contact__inner -->
</section><!-- /.contact -->

