<section id="" class="login section">
  <div class="poat__inner inner">
  
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= @user.name %>, <%= @user.email %>
    <div class="head">
      <h1 class="section-title">投稿内容</h1><!-- /.section-title -->
      <div class="button posts_button">
        <%= link_to "Sign up now!", signup_path %>
      </div>
      <div class="pagination__center">
         <%= paginate @posts,window: 2%>
      </div><!-- ./paginations -->
    </div>
    <table class="post__table">
      <tr class="post__thead__pc">
        <th>投稿者名</th>
        <th>作成者</th>
        <th>作成日</th>
        <th>更新日</th>
      </tr>
      <tr class="post__thead__tab hidden-pc">
        <th>投稿者名</td>
      </tr>
      <% @posts.each do |post| %>
<tr id="post-<%= post.id %>">
<td class="table-titles" data-label="">        
        <%= gravatar_for post.user, size: 50 %>
    <div>
        <%= post.title %>
    <nav class="table-nav">
        <ul>
            <% if current_user.admin? || current_user?(post.user)%>
            <li><%= link_to "編集", edit_user_path(post.user) %></li>
            <li><%= link_to "削除", post.user, :method => :delete,
                                  data: { confirm: "You sure?" } %></li>
            <% end %>
        </ul>
    </nav>
    </div>
</td>
<td data-label="作成者"><%= link_to post.user.name, post.user %></td>
<td data-label="作成日"><%= time_ago_in_words(post.created_at) %></td>
<td data-label="更新日">2021/12/29</td>
</tr>
      <% end %>
    </table>
    <div class="pagination__center">
       <%= paginate @posts,window: 2%>
    </div><!-- ./paginations -->
    

 

        
          <%
=begin%>
 <!-- <% @posts.each do |post| %> -->
            <!-- <tr>
                <th><%= post.id %></th>
                <td><%= post.title %></td>
                <td><%= post.name %></td>
                <td><%= post.created_at.to_s(:datetime_base) %></td>
                <td><%= post.updated_at.to_s(:datetime_base) %></td>
                <td><%= link_to "詳細" , post, class: 'btn btn-outline-info' %></td>
                <td><%= link_to "" , post, class: 'btn btn-outline-info', method: :delete, data: {confirm: "投稿記事を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"} %></td>
            </tr>
          <% end %> --> 
<%
=end%>
  
  </div><!-- /.contact__inner -->
</section><!-- /.contact -->




          