<section id="" class="post section">
  <div class="poat__inner inner">
    <div class="head">
      <h1 class="section-title">投稿する</h1><!-- /.section-title -->
    </div>  
    <div class="post__item">
      <div id="formWrapper">
      
        <%= form_with(model: @post, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
          <dl class="post__controls">
            <%
=begin%>
 <div class="post__control">
              <dt>投稿場所</dt>
              <dd class="post__tag">
                <label><input name="type" type="radio" value="スライダー" required><span class="outside"><span class="inside"></span></span>スライダー</label>
                <label><input name="type" type="radio" value="森林を学ぶ価値"><span class="outside"><span class="inside"></span></span>森林を学ぶ価値</label>
                <label><input name="type" type="radio" value="森林科学領域"><span class="outside"><span class="inside"></span></span>森林科学領域</label>
                <label><input name="type" type="radio" value="先生の紹介"><span class="outside"><span class="inside"></span></span>先生の紹介</label>
                <label><input name="type" type="radio" value="授業の紹介"><span class="outside"><span class="inside"></span></span>授業の紹介</label>
                <label><input name="type" type="radio" value="卒業生の声"><span class="outside"><span class="inside"></span></span>卒業生の声</label>
                <label><input name="type" type="radio" value="資格"><span class="outside"><span class="inside"></span></span>資格</label>
              </dd>  
            </div> 
<%
=end%>
            <div class="post__control switchItems switch_title">
              <dt><%= f.label :title, "タイトル" %></dt>
              <dd><%= f.text_field :title, class: "form-input" %></dd>
            </div>
            <%
=begin%>
 <div class="post__control switchItems switch_sb_title">
              <dt>サブタイトル</dt>
              <dd><input class="form-input" required></dd>
            </div> 
<%
=end%>
            <div class="post__control switchItems switch_content">
              <dt><%= f.label :content, "コンテンツ" %></dt>
              <dd><%= f.text_area :content, class: "form-textarea" %></dd>
            </div>
            <%
=begin%>
 <div class="post__control switchItems switch_img">
              <dt>画像</dt>
              <dd><input class="form-input" required></dd>
            </div>
            <div class="post__control switchItems switch_movie">
              <dt>動画</dt>
              <dd><input class="form-input" required></dd>
            </div>
            <div class="post__control switchItems switch_link">
              <dt>リンク先</dt>
              <dd><input class="form-input" required></dd>
            </div>
            <div class="post__control switchItems switch_og">
              <dt>出身</dt>
              <dd><input class="form-input" required></dd>
            </div>
            <div class="post__control switchItems switch_og">
              <dt>職業</dt>
              <dd><input class="form-input" required></dd>
            </div>
            <div class="post__control switchItems switch_og">
              <dt>研究室</dt>
              <dd><input class="form-input" required></dd>
            </div>
            <div class="post__control switchItems switch_og">
              <dt>研究分野</dt>
              <dd><input class="form-input" required></dd>
            </div> 
<%
=end%>
          </dl><!-- /.post__controls -->
          <div class="post__submit">
            <input type="submit" value="送信" class="button-arrow-right">
          </div><!-- /.post__submit -->
        <% end %>
      </div><!-- /#formWrapper -->
    </div>
  </div><!-- /.post__inner -->
</section><!-- /.post -->