<% provide(:title, "卒業生の声") %>

<section id="alumni" class="alumni section wow fadeInUp">
	<div class="alumni__inner inner">
		<h2 class="section-title">卒業生の声</h2><!-- /.section-title -->
		<div class="alumni__items">
           <div class="alumni__item posts__alumni__item">
				<div class="alumni__media posts__alumni__media" >
					<%= render 'layouts/alumni-table', object: @post %>	
				</div><!-- /.alumni__media -->
        	</div><!-- /.alumni__item -->
		</div><!-- /.alumni__items -->
	</div><!-- /.alumni__inner -->
</section><!-- /.alumni -->


<section id="" class="main section">
<div class="main__inner inner">
    <div class="main__content">
    <h2 class="main__title">森林科学科への進学理由</h2>
    <p><%= simple_format(@post.reason) %></p>
    </div><!-- /.main__content -->
    <div class="main__content">
    <h2 class="main__title">今の仕事につながる森林領域での学び</h2>
    <p><%= simple_format(@post.learning) %></p>
    </div><!-- /.main__content -->
    <div class="main__content">
    <h2 class="main__title">今の職場での仕事内容</h2>
    <p><%= simple_format(@post.job_description) %></p>
    </div><!-- /.main__content -->
    <div class="main__content">
    <h2 class="main__title">高知大学での経験や思い出</h2>
    <p><%= simple_format(@post.memories) %></p>
    </div><!-- /.main__content -->
    <div class="main__content">
    <h2 class="main__title"><%= @post.original_title %></h2>
    <p><%= simple_format(@post.original_content) %></p>
    </div><!-- /.main__content -->
    <div class="main__content">
    <% unless @post.images.second.nil? %>  
        <%= image_tag @post.images.second.variant(gravity: :center, resize:'800x600').processed %>
    <% end %>
    </div><!-- /.main__content -->
</div><!-- /.main__inner -->
</section><!-- /.main -->

<section id="" class="bottom section">
<div class="bottom__inner inner">
    <div class="bottom__nav">
    <nav>
        <ul>
        <li><a href="/alumni">卒業生の声一覧<i class="fas fa-arrow-right"></i></a></li>
        <li><a href="/">森林領域トップ<i class="fas fa-arrow-right"></i></a></li>
        </ul>
    </nav>
    </div><!-- ./buttom__nav -->
</div><!-- ./buttom__inner -->
</section><!-- ./buttom -->





