<div class="alumni__media__body">
            <div class="alumni__media__title"><%= object.name %>さん</div><!-- /.media__title -->
                <div class="alumni__media__table">
                    <table class="table-default">
                    <tr>
                        <th>出身</th>
                        <td>：</td>
                        <td><%= object.birthplace %></td>
                    </tr>
                    <tr>
                        <th>職業</th>
                        <td>：</td>
                        <td><%= object.job %></td>
                    </tr>
                    <tr>
                        <th>研究室</th>
                        <td>：</td>
                        <td><%= object.research_office %></td>
                    </tr>
                    <tr>
                        <th>研究分野</th>
                        <td>：</td>
                        <td><%= object.research_field %></td>
                    </tr>
                    </table> 	
                    <% case controller.action_name %>
                    <% when "home" %>
                    <span class="see-details">詳しく見る<i class="fas fa-arrow-right"></i></span>
                    <% end %>
                </div><!-- /.alumni__media__table -->
            </div><!-- /.alumni__media__body -->
        <div class="alumni__media__img"> 
     <%
=begin%>
 <%= image_tag object.images.first.variant(gravity: :center, resize:'800x600').processed %> 
<%
=end%>
        </div><!-- /.media__img -->