<%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages' %>
    <dl class="contact__controls">
    <div class="contact__control">
        <dt>
        <%= f.label :name, "ユーザー名" ,class:"contact__label" %>
        </dt>
        <dd>
        <%= f.text_field :name, class:"form-input" %>
        </dd>
    </div><!-- /.contact__control -->
    <div class="contact__control">
        <dt>
        <%= f.label :email, "メールアドレス" ,class:"contact__label" %>
        </dt>
        <dd>
        <% if controller.action_name == "edit" && controller.controller_name == "users" %>
        <%= f.email_field :new_email, class:"form-input", placeholder: @user.email %>
            <% if !@user.new_email.nil? %>
            <%= "#{@user.new_email}は有効かされていません。"%>
            <% end %>
        <% else %>
        <%= f.email_field :email, class:"form-input" %>
        <% end %>
        </dd>
    </div><!-- /.contact__control -->
    <div class="contact__control contact__control__password">
        <dt>
        <%= f.label :password, "パスワード" , class:"contact__label" %>
        </dt>
        <dd>
        <%= f.password_field :password, class:"form-input" %>
        </dd>
    </div><!-- /.contact__control -->
    <div class="contact__control contact__control__password">
        <dt>
        <%= f.label :password_confirmation, "パスワード(再確認)", class:"contact__label" %>
        </dt>
        <dd>
        <%= f.password_field :password_confirmation, class:"form-input" %>
        </dd>
    </div><!-- /.contact__control -->
    </dl><!-- /.contact__controls -->
    <div class="contact__submit">
    　 <%= f.submit "送信", class: "button-arrow-right" %>
    </div><!-- /.contact__submit -->
<% end %>

<%
=begin%>
<div class="gravatar_edit">
<%= gravatar_for @user %>
<a href="https://gravatar.com/emails" target="_blank" rel="noopener">change</a>
</div> 
<%
=end%>

