<% unless controller.action_name == "new" || controller.action_name == "create" && controller.controller_name == "sessions" || controller.controller_name == "password_resets"%>
<header class="header">
	<div class="inner header__inner">
		<h1 class="header__logo"><%= image_tag "logo.png", :alt => '高知大学森林科学領域ホームページ' %></h1><!-- /.header__logo -->
		<nav class="header__nav">
			<ul>
				<% if controller.controller_name == "static_pages" || controller.controller_name == "alumni_messages" || controller.controller_name == "inquiry" %>
				<li><%= link_to "高知大学トップ", "https://nyusi.kochi-u.jp/" %></li>
				<li><%= link_to "学部トップ", "http://www.kochi-u.ac.jp/agrimar/" %></li>
				<li><%= link_to "卒業生の声", "#" %></li>
				<li><%= link_to "入試情報", "https://nyusi.kochi-u.jp/" %></li>
				<li><%= link_to "お問い合わせ", inquiry_path %></li>
				<% else %>
				<li><%= link_to "プレビュー", "https://nyusi.kochi-u.jp/" %></li>
				<li><%= link_to "投稿する", "#" %></li>
				<li><%= link_to "投稿一覧", "#" %></li>
				<li><%= link_to "管理者設定", users_path %></li>
				<li><%= button_to "ログアウト", logout_path, class:"logout_button",method: :delete %></li>
				<% end %>
			</ul>
		</nav><!-- /.header__nav -->
	</div><!-- /.header__inner -->
</header><!-- /.header -->
<button class="drawer-icon js-drawer for-drawer" type="button" data-target="for-drawer">
	<span class="drawer-bars">
		<span class="drawer-bar"></span>
		<span class="drawer-bar"></span>
		<span class="drawer-bar"></span>
	</span>
	<span class="drawer-text">メニュー</span>
</button><!-- /drawer-icon -->
<div class="drawer-content-cover for-drawer">
	<ul>
		<% if controller.controller_name == "static_pages" || controller.controller_name == "alumni_messages" %>
		<li><%= link_to "高知大学トップ", "https://nyusi.kochi-u.jp/" %></li>
		<li><%= link_to "学部トップ", "http://www.kochi-u.ac.jp/agrimar/" %></li>
		<li><%= link_to "卒業生の声", "#" %></li>
		<li><%= link_to "入試情報", "https://nyusi.kochi-u.jp/" %></li>
		<li><%= link_to "入試情報", inquiry_path %></li>
		<% else %>
		<li><%= link_to "プレビュー", "https://nyusi.kochi-u.jp/" %></li>
		<li><%= link_to "投稿する", "#" %></li>
		<li><%= link_to "投稿一覧", "#" %></li>
		<li><%= link_to "管理者設定", users_path %></li>
		<li><%= button_to "ログアウト", logout_path, class:"logout_button",method: :delete %></li>
		<% end %>
	</ul>
</div><!-- /drawer-content -->
<%end%>