<section id="" class="login section">
  <div class="post__inner inner">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <div class="head">
      <% if controller.controller_name == "users" && controller.action_name == "index"%>
      <h1 class="section-title">管理者一覧</h1><!-- /.section-title -->
      <% else %>
      <h1 class="section-title"><%= "#{@user.name}の" unless @user.nil?%>投稿一覧</h1><!-- /.section-title -->
      <% end %>
      <% if current_user.admin?%>
      <div class="button posts_button">
        <%= link_to "管理者を作成する", signup_path %>
      </div>
      <% end %>
      <div class="pagination__center">
         <%= paginate object,window: 2%>
      </div><!-- ./paginations -->
    </div>
    <table class="post__table">
    <% if controller.controller_name == "users" && controller.action_name == "index"%>
      <tr class="post__thead__pc">
        <th>管理者名</th>
        <th>メール</th>
        <th>作成日</th>
        <th>投稿数</th>
      </tr>
      <tr class="post__thead__tab hidden-pc">
        <th>管理者名</td>
      </tr>
    <% else %>
     <tr class="post__thead__pc">
        <th>タイトル</th>
        <th>作成者</th>
        <th>作成日</th>
        <th>更新日</th>
      </tr>
      <tr class="post__thead__tab hidden-pc">
        <th>タイトル</td>
      </tr>
    <% end %>
     <%= render object %>
    </table>
    <div class="pagination__center" >
       <%= paginate object,window: 2%>
    </div><!-- ./paginations -->
  </div><!-- /.contact__inner -->
</section><!-- /.contact -->