<ul>
    <% if controller.controller_name == "static_pages" || controller.controller_name == "alumni_messages" || controller.controller_name == "inquiry" %>
    <li><%= link_to "高知大学トップ", "https://nyusi.kochi-u.jp/" %></li>
    <li><%= link_to "学部トップ", "http://www.kochi-u.ac.jp/agrimar/" %></li>
    <li><%= link_to "卒業生の声", "#" %></li>
    <li><%= link_to "入試情報", "https://nyusi.kochi-u.jp/" %></li>
    <li><%= link_to "お問い合わせ", inquiry_path %></li>
    <% else %>
    <li><%= link_to "サイト表示", root_url %></li>
    <li><%= link_to "投稿する", new_post_path %></li>
    <li><%= link_to "投稿一覧", posts_path %></li>
    <li><%= link_to "管理者設定", users_path %></li>
    <li><%= button_to "ログアウト", logout_path, class:"logout_button",method: :delete %></li>
    <% end %>
</ul>