
 <% if controller.action_name == "new" %>
<div class="post__control">
  <dt><label class="contact__label--required">投稿場所</label></dt>
  <dd>
    <%= form_tag new_post_path, method: :get, class: '' do %>
    <% render 'layouts/post_place_select_tag' %>
    <% end %>
</dd>  
<% end %>
</div> 
<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <dl class="post__controls">    
    <% if @tag.present? %>
    <%= f.hidden_field :tag_id, :value => @tag.id %> 
    <% if @tag.name == "スライダー" %>
    <%= render 'posts_layout/swiper', object: f %>
    <% elsif @tag.name == "森林を学ぶ価値" %>
    <%= render 'posts_layout/meaning', object: f %>
    <% elsif @tag.name == "森林科学領域" %>
    <%= render 'posts_layout/about', object: f %>
    <% elsif @tag.name == "先生の紹介" %>
    <%= render 'posts_layout/teacher', object: f %>
    <% elsif @tag.name == "授業の紹介" %>
    <%= render 'posts_layout/lesson', object: f %>
    <% elsif @tag.name == "卒業生の声" %>
    <%= render 'posts_layout/alumnus', object: f %>
    <% elsif @tag.name == "資格" %>
    <%= render 'posts_layout/skill', object: f %>
    <% elsif @tag.name == "先生の紹介動画" %>
    <%= render 'posts_layout/teacher_movie', object: f %>
    <%end%>
  </dl><!-- /.post__controls -->
  <div class="post__submit">
    <input type="submit" value="送信" class="button-arrow-right">
  </div><!-- /.post__submit -->
  <% end %>
<% end %>
      