<%= form_with(model: @post, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
          <dl class="post__controls">            
            <div class="post__control">
              <dt>投稿場所</dt>
              <dd class="post__tag">
                <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                <div class="form-check">
                  <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <span class="outside"><span class="inside"></span></span>
                    <%= tag.text %>
                  <% end %>
                </div>
              <% end %>
              </dd>  
            </div> 
      
            <div class="post__control switchItems switch_title">
              <dt><%= f.label :title, "タイトル" %></dt>
              <dd><%= f.text_field :title, class: "form-input" %></dd>
            </div>
            <div class="post__control switchItems switch_title">
              <dt><%= f.label :name, "名前" %></dt>
              <dd><%= f.text_area :name, class: "form-input" %></dd>
            </div>
            <div class="post__control switchItems switch_title">
              <dt><%= f.label :content %></dt>
              <dd><%= f.rich_text_area :content, class: "form-textarea"%></dd>
            </div>
            <%
=begin%>
 <div class="post__control switchItems switch_sb_title">
              <dt>サブタイトル</dt>
              <dd><input class="form-input" required></dd>
            </div> 
<%
=end%>
      
             <div class="post__control switchItems switch_img">
              <dt>画像</dt>
              <dd><%= f.file_field :images , accept: "image/jpeg,image/gif,image/png", multiple: true %></dd>
            </div>
            <div class="post__control switchItems switch_og">
              <dt><%= f.label :birthplace, "出身地" %></dt>
              <dd><%= f.text_field :birthplace, class: "form-input" %></dd>
            </div>
            <div class="post__control switchItems switch_og">
              <dt><%= f.label :job, "職業" %></dt>
              <dd><%= f.text_field :job, class: "form-input" %></dd>
            </div>
            <div class="post__control switchItems switch_og">
              <dt><%= f.label :research_office, "研究室" %></dt>
              <dd><%= f.text_field :research_office, class: "form-input" %></dd>
            </div>
          　 <div class="post__control switchItems switch_og">
              <dt><%= f.label :research_field, "研究分野" %></dt>
              <dd><%= f.text_field :research_field, class: "form-input" %></dd>
            </div>
            <div class="post__control switchItems switch_content">
              <dt><%= f.label :reason, "森林科学科への進学理由" %></dt>
              <dd><%= f.text_area :reason, class: "form-textarea" %></dd>
            </div>
            <div class="post__control switchItems switch_content">
              <dt><%= f.label :learning, "今の仕事につながる森林領域での学び" %></dt>
              <dd><%= f.text_area :learning, class: "form-textarea" %></dd>
            </div>
                        <div class="post__control switchItems switch_content">
              <dt><%= f.label :job_description, "今の職場での仕事内容" %></dt>
              <dd><%= f.text_area :job_description, class: "form-textarea" %></dd>
            </div>
            <div class="post__control switchItems switch_content">
              <dt><%= f.label :memories, "高知大学での経験や思い出" %></dt>
              <dd><%= f.text_area :memories, class: "form-textarea" %></dd>
            </div>
            <div class="post__control switchItems switch_og">
              <dt><%= f.label :original_title, "好きなタイトルを入力してください" %></dt>
              <dd><%= f.text_field :original_title, class: "form-input" %></dd>
            </div>
            <div class="post__control switchItems switch_content">
              <dt><%= f.label :original_content, "上のタイトルについて好きに書いてください" %></dt>
              <dd><%= f.text_area :original_content, class: "form-textarea" %></dd>
            </div>
            <div class="post__control switchItems switch_link">
              <dt><%= f.label :video_url, "動画のURL" %></dt>
              <dd><%= f.text_field :video_url, class: "form-input" %></dd>
            </div>
            <div class="post__control switchItems switch_link">
              <dt><%= f.label :external_url , "参考文献URL" %></dt>
              <dd><%= f.text_field :external_url , class: "form-input" %></dd>
            </div>
            <div class="post__control switchItems switch_link">
              <dt><%= f.label :teacher_url , "先生HPのURL" %></dt>
              <dd><%= f.text_field :teacher_url , class: "form-input" %></dd>
            </div>
            
            <%
=begin%>

            <div class="post__control switchItems switch_movie">
              <dt>動画</dt>
              <dd><input class="form-input" required></dd>
            </div>
            <div class="post__control switchItems switch_link">
              <dt>リンク先</dt>
              <dd><input class="form-input" required></dd>
            </div>

<%
=end%>
          </dl><!-- /.post__controls -->
          <div class="post__submit">
            <input type="submit" value="送信" class="button-arrow-right">
          </div><!-- /.post__submit -->
        <% end %>