<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag('icon.jpg') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
　	<!--fontawesome-->
<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	  <script src="https://kit.fontawesome.com/c93c1bab3a.js" crossorigin="anonymous"></script>
	  <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main' %>
  
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="高知大学 森林科学領域" />
    <meta property="og:description" content="森林率全国1位の高知県!林業や自然を学ぶためには絶好の環境です"/>
    <meta property="og:site_name" content="高知大学 農林海洋科学部 農林資源環境科学科 森林科学領域" />
    <meta property="og:image" content="http://www.kochi-u.ac.jp/agrimar-skg/img/isikawa-prof.jpg" />
    <meta name="twitter:card" content="summary_large_image" /> 
    <meta name="twitter:site" content="@KochiU_News"/>
  </head>
    <body>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
      <%= render 'layouts/move-page-top' %>

      <%
=begin%>
 <h1>Ajax#index</h1>
<p id="hoge">赤色になるよ</p>


<script>
jQuery(".js-drawer").on("click", function(e) {
  e.preventDefault();
  let targetClass = jQuery(this).attr("data-target");
  jQuery("." + targetClass).toggleClass("is-checked");
  return false;
});

jQuery('.accordion__head').click(function() {
  jQuery(this).nextAll().slideToggle();
  jQuery(this).children('.accordion__icon').toggleClass('is-open');
});

  $("#hoge").css("color","red")

</script> 
<%
=end%>
<script>
var mySwiper = new Swiper('.swiper-container', {
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  loop: true,
  pagination: {
    el: '.swiper-pagination',
    type: 'bullets',
    clickable: true,
  },
  autoplay: {
   delay: 6000,
   disableOnInteraction: true
 },
 speed: 1500,
 
});


</script>
  </body>
</html>
